/* Handled via Bootstrap CDN */
/* Custom Styles Here if Needed */

.logo-img {
    height: 200px;
    padding: 20px;
}

.logo-img-2 {
    height: 200px;
    padding: 20px;
}

.logo-img-3 {
    height: 200px;
    padding: 20px;
}